<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h1> Users Settings</h1>
    <button *ngIf="!signedIn" ion-button full (click)="signIn()">
      Sign-in with Google
    </button>
    <div *ngIf="signedIn">
      <ion-grid>
        <ion-row>
          <ion-col float-left>
            <ion-label> {{ userDisplay }} </ion-label>
          </ion-col>
          <ion-col>
            <button ion-button float-right (click)="signOut()">
              Sign-out
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="data.score != null" margin-top>
    <ion-grid>
      <ion-row>
        <ion-col float-left>
          <h1> Scores </h1>
          <p> Overall Score: {{ score }}% </p>
        </ion-col>
        <ion-col>
          <button ion-button float-right outline round (click)="sync()">
            Sync
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="data.scores != null" margin-top>
    <h4> Detailed Scores </h4>
    <ion-list>
      <ion-item *ngFor="let entry of data.scores">
        {{ entry[0] }}
        <ion-note item-end>{{ entry[1] }}%</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>